function isDisabled(type, obj) {
  var disabled = true;
  if (type == 'forget') { //客户忘记密码
    disabled = !(!!obj.phone && !!obj.verificationCode && !!obj.password);
  } else if (type == 'change') { //员工重置密码
    disabled = !(!!obj.oldPassword && !!obj.newPassword);
  } else {

  }
  return disabled;
}

module.exports = {
  isDisabled: isDisabled
}