
function filterRemark(val){
    if (val && val.length > 20) {
        return val.substring(0, 20) + '...'
      }
      return val
}
function filterUnqualifiedVal(val){
    if (val && val.length > 15) {
        return val.substring(0, 15) + '...'
      }
      return val
}

module.exports = {
    filterRemark:filterRemark,
    filterUnqualifiedVal:filterUnqualifiedVal
};